@import '../node_modules/mini.css/dist/mini-default.min.css';

html, body, #root, .container, .center-page {
  height: 100%;
}

form {
    min-width: 300px;
}


.alert {
    padding: 20px;
    background-color: #f5c3cc;
    border-radius: 10px;
    color: black;
}
 
.center-page {
    display: flex;
    justify-content: center;
    align-items: center;
  
}
  
.custom-error{
    width: 100% !important;
    background-color: #f5c3cc;
    color:black;
    padding: 10px;
    border-radius: 10px;
}

.custom-button{
    max-width:40px !important;
}
